# Pre-commit hooks for code quality
# See https://pre-commit.com for more information

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/PyCQA/pylint
    rev: v3.0.3
    hooks:
      - id: pylint
        args: ['--max-line-length=100', '--disable=C0111,R0903']

  - repo: local
    hooks:
      - id: complexity-check
        name: Check cyclomatic complexity
        entry: bash -c 'lizard --CCN 10 .'
        language: system
        pass_filenames: false
